:root {
    --font-family: "Outfit", sans-serif;
    --second-family: "BigNoodleTitling", sans-serif;
    --third-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}


.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    background: #000000;
}



/* Стили для бургер-меню */
.burger-menu {
    display: none;
    position: relative;
    z-index: 200;
}

.burger-menu__button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    width: 19px;
}

.burger-menu__line {
    background-color: #99EE2D;
    height: 3px;
    width: 19px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-menu__line:nth-child(1).active {
    transform: translateY(6px) rotate(45deg);
}

.burger-menu__line:nth-child(2).active {
    opacity: 0;
}

.burger-menu__line:nth-child(3).active {
    transform: translateY(-6px) rotate(-45deg);
}

/* Мобильное меню */
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(14px);
    background: rgba(35, 31, 32, 0.8);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
}

.mobile-menu__list {
    margin-top: 50px;
    list-style: none;
    padding: 0;
}

.mobile-menu__list li {
    margin: 15px 0;
}

.mobile-menu__list a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 95%;
    text-transform: uppercase;
    color: #fff;
}

.mobile-menu__list a:hover {
    color: #99ee2d;
}

/* Для активного состояния */
.mobile-menu.show {
    display: flex;
}

.mobile-menu__flex {
    display: flex;
    gap: 36px;
    border-bottom: 1px solid #ffffff33;
}

.mobile-menu__flex2 {
    display: flex;

    gap: 10px;
}

.footer__mobile-menu {
    display: flex;
    flex-direction: column;
}

.footer__mobile-menu span:first-of-type {
    margin-top: 40px;
}
.footer__mobile-menu span {
    margin-bottom: 18px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 98%;
    letter-spacing: 0.02em;
    color: #fff;
    opacity: 0.5;
}





