.shop__inner {
    padding-top: 115px;
    padding-right: 209px;
    padding-left: 209px;
    padding-bottom: 30px;
}

.setting {
    display: none;
}

.shop__in {
    display: flex;
    gap: 23px;
}

.exit {
    display: none;
}

.sidebar-filter {
    width: 249px;
    max-width: 375px;
    height: auto;
    background: #222;
    padding: 15px;
    min-width: 249px;
    clip-path: polygon(0 0, 90% 0, 100% 5%, 100% 100%, 0 100%);
}

.shop__inner-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 132%;
    color: #f5ffe6;
    margin-bottom: 21px;
}

.filter-header {


    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    display: none;
}

.filter-header h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 132%;
    color: #f5ffe6;

}

.filter-header .close-filter {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Секции фильтров */
.filter-section {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 132%;
    color: #f5ffe6;
}

.filter-section span {
    font-weight: 200;
    color: #757575;
    margin-left: 5px;
}


.filter-section h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 132%;
    color: #f5ffe6;
    margin-bottom: 30px;

}

/* Кнопки сортировки */
.filter-options {
    display: flex;

    gap: 10px;
    flex-wrap: wrap;
}

.filter-btn {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding: 6px 10px;
    height: 30px;
    background: rgba(255, 255, 255, 0.1);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
    color: #f5ffe6;

}

.price-values-reset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.filter-btn.active {
    background: rgba(153, 238, 45, 0.3);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
    color: #99ee2d;
}

.filter-btn svg {
    display: none;
}

.filter-btn.active svg {
    display: block;
}

.price-values span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 132%;
    color: #f5ffe6;
}

.active-krest {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Слайдер цены */
.price-slider {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#price-range {
    width: 100%;
}

.price-values {
    display: flex;
    justify-content: space-between;

}

.reset-price {
    padding: 6px 10px;
    width: 60px;
    height: 33px;
    background: rgba(255, 113, 124, 0.1);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 132%;
    color: #e60012;
}

/* Список фильтров */
.filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-list input[type="checkbox"] {
    accent-color: #0f0;
    cursor: pointer;
}

.filter-list label {
    font-size: 0.9rem;
    cursor: pointer;
}

/* Категории с вложениями */
.filter-list li>label {
    display: flex;
    align-items: center;
}


/* Последние детали */
.sidebar-filter {
    border-right: 1px solid #222;
}

.sidebar-filter h3 {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}


.sidebar-filter input[type="checkbox"]:hover+label {
    color: #0f0;
}

/* Стили для чекбоксов */
.filter-list input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #222;
    border: 2px solid #555;

    cursor: pointer;
    display: inline-block;
    position: relative;
    border: 1px solid #f5ffe6;
}


.filter-list input[type="checkbox"]:checked {
    background-color: #99ee2d;
    border-color: #99ee2d;

}


.filter-list input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11px;
    /* Ширина SVG */
    height: 9px;
    /* Высота SVG */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="9" fill="none" viewBox="0 0 11 9"><path d="M0 4.13636L1.45467 2.68169L4.36367 5.59069L9.45467 0.499695L10.9093 1.95436L4.364 8.49969L0 4.13636Z" fill="%23222222"/></svg>');
    background-size: contain;
    /* Убедиться, что размер корректный */
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

/* Эффект наведения */
.filter-list input[type="checkbox"]:hover {
    border-color: #99ee2d;
}





/* Общие стили для ползунка */
.price-slider {
    position: relative;
    width: 100%;
    /* Ширина всей полосы */
    margin: 10px 0;
    display: flex;
    align-items: center;
}

/* Стартовый квадрат */
.price-slider .range-start {
    width: 15px;
    height: 15px;
    background: #99ee2d;
    /* Зеленый фон */
    border: 2px solid #111;
    /* Темная рамка */

    /* Скругленные углы */
    position: absolute;
    left: -15px;
    top: 6%;
    transform: translateY(-50%);
    z-index: 1;
    /* Выше трека */
}

/* Ползунок */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #99ee2d 0%, #99ee2d 50%, #444 50%, #444 100%);

    outline: none;
    cursor: pointer;
    margin: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    background: transparent;
    /* Фон управляется через общий background */

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #99ee2d;
    border: 2px solid #111;
    margin-top: -4px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

input[type="range"]::-moz-range-track {
    height: 8px;
    background: transparent;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #99ee2d;
    border: 2px solid #111;

    cursor: pointer;
}

input[type="range"]::-ms-track {
    height: 8px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #99ee2d;
    border: 2px solid #111;

    cursor: pointer;
}


.catalog__inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 19px;
    max-width: 908px;
}

.price__info.shop-card {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    bottom: 0;
    max-width: 290px;
    padding-right: 5px;
    padding-left: 5px;
}

.shop-card1 {
    display: flex;
    flex-direction: column;
    align-items: start;
text-align: center;
}
.img-swiper-slide.shop-card img{
    width: 290px;
    
}