@font-face {
    font-family: 'BigNoodleTitling[RUSbyDaymarius';
    src: local('BigNoodleTitling[RUSbyDaymarius'), local('BigNoodleTitlingRUSbyDaymarius'),
        url('../fonts/BigNoodleTitlingRUSbyDaymarius.woff2') format('woff2'),
        url('../fonts/BigNoodleTitlingRUSbyDaymarius.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BigNoodleTitling';
    src: local('BigNoodleTitling Oblique'), local('BigNoodleTitling-Oblique'),
        url('../fonts/BigNoodleTitling-Oblique.woff2') format('woff2'),
        url('../fonts/BigNoodleTitling-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: local('Inter 28pt Regular'), local('Inter28pt-Regular'),
        url('../fonts/Inter28pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter28pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: local('Inter 18pt Medium'), local('Inter18pt-Medium'),
        url('../fonts/Inter18pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter18pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit Black'), local('Outfit-Black'),
        url('../fonts/Outfit-Black.woff2') format('woff2'),
        url('../fonts/Outfit-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit Medium'), local('Outfit-Medium'),
        url('../fonts/Outfit-Medium.woff2') format('woff2'),
        url('../fonts/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit Thin'), local('Outfit-Thin'),
        url('../fonts/Outfit-Thin.woff2') format('woff2'),
        url('../fonts/Outfit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit Light'), local('Outfit-Light'),
        url('../fonts/Outfit-Light.woff2') format('woff2'),
        url('../fonts/Outfit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit SemiBold'), local('Outfit-SemiBold'),
        url('../fonts/Outfit-SemiBold.woff2') format('woff2'),
        url('../fonts/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit Regular'), local('Outfit-Regular'),
        url('../fonts/Outfit-Regular.woff2') format('woff2'),
        url('../fonts/Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: local('Outfit Bold'), local('Outfit-Bold'),
        url('../fonts/Outfit-Bold.woff2') format('woff2'),
        url('../fonts/Outfit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

